.add_product_detail{
  -fx-background-color:#EEEEEE;
  }


.vbox{
   -fx-alignment:center;

}

  .text-field{
    -fx-background-color:white;
    -fx-font-size:15px;
    -fx-pref-width:80;
    -fx-pref-height:30;

  }

  .text-field:hover{
    -fx-border-color: rgb(128,0,0);
  }

    .button{
     -fx-background-color:rgb(128,0,0);
       -fx-text-alignment:center;
       -fx-font-weight:bold;
       -fx-text-fill:white;
       -fx-pref-height:40;
       -fx-pref-width:100;
        -fx-alignment:center;
    }

    .label{
    -fx-font-weight:bold;
    -fx-font-size:1.3em;
    -fx-translate-x: 10px;
    }