.menu_container {
    -fx-padding: 5 ;
    -fx-spacing: 10;
    -fx-background-color: rgb(128,0,0);
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.menu_container Button, .menu_container MenuButton, .menu_container MenuButton .label {
    -fx-pref-width: 190;
    -fx-pref-height: 40;
    -fx-font-size: 1.2em;
    -fx-background-color: rgb(128,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}





.menu_container MenuButton .menu-item {
    -fx-margin-left:0;
    -fx-margin-right:0;
    -fx-padding:0;

}
.menu_container MenuButton {
    -fx-background-color: rgb(128,0,0);
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #132A13;
}

.menu_container Button:hover {
    -fx-cursor: hand;
}
