/* adminMenu.css */

.menu_container {
    -fx-padding: 5 ;
    -fx-spacing: 10;
    -fx-background-color: rgb(128,0,0);
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.menu_container Button, .menu_container MenuButton, .menu_container MenuButton .label  {
    -fx-pref-width: 190;
    -fx-pref-height: 40;
    -fx-font-size: 1.2em;
    -fx-background-color: rgb(128,0,0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #FFD700; /* Gold border */
    -fx-border-width: 0.5px;
    -fx-border-radius: 7px;
}

.menu_container MenuButton .menu-item {
    -fx-margin-left:0;
    -fx-margin-right:0;
    -fx-padding:0;
}

.menu_container MenuButton {
    -fx-background-color: rgb(128,0,0);
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #FFD700; /* Gold icons */
}

.menu_container Button:hover, .menu_container MenuButton:hover {
    -fx-cursor: hand;
    -fx-background-color: firebrick; /* Darker red on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 3);
}
.button {
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-font-size: 1.4em;
}

.label {
    -fx-font-family: "Open Sans";
    -fx-font-size: 1.0em;
}

.heading {
    -fx-font-family: "Raleway";
    -fx-font-weight: 300; /* Light weight */
    -fx-font-size: 2.0em;
}