
/*rgb(128,0,0)*/
.log_in_container{
    -fx-background-color:#EEEEEE;
    -fx-padding-left:10px;

    }


/*logo container styles */
.login_logo_container {
    -fx-background-color:rgb(128,0,0);

-fx-alignment:center;
}

.login_logo_container Text{
-fx-font-size:2em;
-fx-fill:white;
-fx-font-weight:bold;
}

.login_logo_container FontAwesomeIconView{
    -fx-fill:#ea9999;
}
/*Account Selector choice box*/

.account_selector{
    -fx-background-color:#ECF39E;

}

#choice-box-menu{
-fx-background-color:rgb(128,0,0);
}

#choice-prompt-text{
    -fx-font-weight:bold;
}

.login_form_container {
    -fx-spacing: 5;
    -fx-alignment: top_left;
}

.login_form_container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field{
-fx-background-color:#FFFFFF;
-fx-pref_height:35;
-fx-font-size:1.5em;
}

.login_form_container Button{
    -fx-background-color:rgb(128,0,0);
    -fx-text-fill:#FFFFFF;
    -fx-font-size:1.5em;
}

.login_form_container MenuBotton{
    -fx-background-color:rgb(128,0,0);
    -fx-text-fill:#FFFFFF;
    -fx-font-size:1.5em;
}

.login_form_container Button:hover{
    -fx-cursor:hand;
}

.error_lbl{
    -fx-text-fill:#FF0000;
    -fx-alignment:center-left;
    -fx-font-weight:bold;
}