.product_container{
 -fx-background-color:#EEEEEE;
 -fx-padding-left:10px;
}



  .hbox{
 -fx-background-color:#EEEEEE;
  -fx-border-color: transparent;
     -fx-border-width: 0;
      -fx-spacing: 15;
}


.hbox .button{
   -fx-font-weight:bold;
   -fx-text-fill:white;
   -fx-font-size:1.2em;
    -fx-border:solid;

    -fx-border-width: 1px;
   -fx-border-radius:2px;
   -fx-background-color:rgb(128,0,0);
     -fx-spacing: 15;
}

.button{

    -fx-padding:5;
    -fx-pref-width:140;
    -fx-pref-height:80;
     -fx-text-alignment:center;
}

.last_button{
 -fx-spacing: 15;
    -fx-padding:5;
    -fx-pref-width:140;
    -fx-pref-height:80;
    -fx-alignment:center-left;
 -fx-text-alignment:center_left;
}