.search_bar_container{
     -fx-background-color:#EEEEEE;
}

.button  {
    -fx-background-color:rgb(128,0,0);
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:1.3em;
    -fx-pref-width:100px;
    -fx-border-radius:5px;

}

.textfield{
    -fx-background:white;
    -fx-border-radius:5px;
    -fx-font-size:15px;
    -fx-border-radius:5px;

}

#searchTextField:hover{
-fx-border-color:rgb(128,0,0);
-fx-cursor:hand;
}


#searchId:hover{
-fx-cursor:hand;
}